#topics-list {
	list-style: none;
}

#topics-list li {
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
}

.paginate {
	text-align: center;
}

.topic-sidebar {
	text-align: center;
}

.reply {
	border-top: 1px solid #f0f0f0;
	padding-top: 2rem;
}

.topic-reply {
	border-top: 1px solid #dedede;
	margin-top: 2rem;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 50px;
	background: #ffffff;
	border-top: 1px solid #D3E0E9;
}

.footer-left {
	float: left;
	padding-left: 3rem;
}